
<div class='col-md-4'>
	<ul class='list-group'>
		<li class='list-group-item'>
			<span class='badge'>12</span>
			Madison Square Garden
		</li>
		<li class='list-group-item'>
			<span class='badge'>3</span>
			Crowdsrf Headquarters
		</li>
		<li class='list-group-item'>
			<span class='badge'>5</span>
			Citi Field
		</li>
		<li class='list-group-item'>
			<span class='badge'>31</span>
			Yankees Stadium
		</li>
		<li class='list-group-item'>
			<span class='badge'>43</span>
			CBGB's
		</li>
	</ul>
</div>

<div class='col-md-6'>
	<span>Map Goes Here!</span>
</div>