#map-holder {
	width: 800px;
}

#map {
	width: 800px;
	height: 400px;
}

#map img {
	max-width: none;
}

#map label {
	width: auto;
	display: inline;
}

#map-button-holder {
	text-align: center;
	margin-bottom: 1em;
}

a.marker-link:hover {
	background-color: white;
}